.community-carousel-container {
  padding: 20px;
}

.community-carousel-container h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.community-swiper {
  width: 100%;
}

.community-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.community-card:hover {
  transform: scale(1.03); /* sedikit membesar */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* efek bayangan */
}

.community-img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.community-info {
  padding-top: 8px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}
